body{
    position: relative;
    margin:auto;
    padding:0;
    width: 1920px;
    height: 1181px;
    background-color: rgba(163, 170, 130, 0.678);

}
.bk{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1181px;
    
}
.hei{
    width: 664px;
    height: 849px;
    position: absolute;
    top: 166px;
    left: 1088px;
}
.Wb{
    font-family:Bangla MN  ;
    font-size: 74px;
    color:#FFF9EF ;
    text-decoration: none;
    position: absolute;
    top: 255px;
    left: 1115px;
}
.e{
    font-family: Gujarati Sangam MN;
    font-size: 37px;
    color: #FFFFFF;
    position: absolute;
    top:461px ;
    left: 1115px;
    text-decoration: none;

}
.P{
    font-family: Gujarati Sangam MN;
    font-size: 37px;
    color: #FFFFFF;
    position: absolute;
    top:613px ;
    left: 1115px;
    text-decoration: none;


}
.Rm{
    font-family: Gujarati Sangam MN;
    font-size: 23px;
    color: #FFFFFF;
    position: absolute;
    top:751px ;
    left: 1161px;
    text-decoration: none;

}
.F{
    
    font-family: Gujarati Sangam MN;
    font-size: 23px;
    color: #FFFFFF;
    position: absolute;
    top:751px ;
    left: 1645px;
    text-decoration: none;
}
.Login{
    font-family: Gujarati Sangam MN;
    font-size: 37px;
    color: #A28079;
    position: absolute;
    top:815px ;
    left: 1150px;
    text-decoration: none;
}
.yi{
    position: absolute;
    top:582px;
    left: 1115px;
    width: 612px;
    height:1px;
}
.er{
    position: absolute;
    top:735px;
    left: 1115px;
    width: 612px;
    height: 3px;
}
.jx{
    position: absolute;
    top: 775px;
    left: 1115px;
    width: 28px;
    height: 28px;
}
.juxing{
    position: absolute;
    top: 839px;
    left: 1115px;
    width: 187px;
    height: 73px;

}
@media (max-width:768px){
body{
    position: relative;
    margin:auto;
    padding:0;
    width: 768px;
    height: 1404px;
    background-color: black;

}
.bk{
    width: 768px;
    height: 1404px;
}
.hei{
    width: 641px;
    height: 1099px;
    position: absolute;
    top: 153px;
    left: 64px;
}
.Wb{
    font-family:Bangla MN  ;
    font-size: 62px;
    color:#FFF9EF ;
    text-decoration: none;
    position: absolute;
    top: 335px;
    left: 119px;
}
.e{
    font-family: Gujarati Sangam MN;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top:576px ;
    left: 119px;
    text-decoration: none;

}
.P{
    font-family: Gujarati Sangam MN;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top:707px ;
    left: 119px;
    text-decoration: none;


}
.Rm{
    font-family: Gujarati Sangam MN;
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    top:828px ;
    left: 157px;
    text-decoration: none;

}
.F{
    
    font-family: Gujarati Sangam MN;
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    top:828px ;
    left: 579px;
    text-decoration: none;
}
.Login{
    font-family: Gujarati Sangam MN;
    font-size: 30px;
    color: #A28079;
    position: absolute;
    top:912px ;
    left: 139px;
    margin-top: 0px;
    text-decoration: none;
}
.yi{
    position: absolute;
    top:681px;
    left: 118px;
    width: 532px;
    height:1px;
}
.er{
    position: absolute;
    top:814px;
    left: 118px;
    width: 532px;
    height: 3px;
}
.jx{
    position: absolute;
    top: 845px;
    left: 119px;
    width: 24px;
    height: 24px;
}
.juxing{
    position: absolute;
    top: 905px;
    left: 119px;
    width: 162px;
    height: 63px;

}
}

@media (max-width:415px){
    body{
        position: relative;
        margin:auto;
        padding:0;
        width: 415px;
        height: 736px;
        background-color: black;
    
    }
    .bk{
        width: 415px;
        height: 736px;
    }
    .hei{
        width: 316px;
        height: 542px;
        position: absolute;
        top: 171px;
        left: 49px;
        border-radius: 10px;
    }
    .Wb{
        font-family:Bangla MN  ;
        font-size: 31px;
        color:#FFF9EF ;
        text-decoration: none;
        position: absolute;
        top: 162px;
        left: 76px;
    }
    .e{
        font-family: Gujarati Sangam MN;
        font-size: 15px;
        color: #FFFFFF;
        position: absolute;
        top:280px ;
        left: 76px;
        text-decoration: none;
    
    }
    .P{
        font-family: Gujarati Sangam MN;
        font-size: 15px;
        color: #FFFFFF;
        position: absolute;
        top:345px ;
        left: 76px;
        text-decoration: none;
    
    
    }
    .Rm{
        font-family: Gujarati Sangam MN;
        font-size: 9px;
        color: #FFFFFF;
        position: absolute;
        top:403px ;
        left: 95px;
        text-decoration: none;
    
    }
    .F{
        
        font-family: Gujarati Sangam MN;
        font-size: 9px;
        color: #FFFFFF;
        position: absolute;
        top:403px ;
        left: 303px;
        text-decoration: none;
    }
    .Login{
        font-family: Gujarati Sangam MN;
        font-size: 15px;
        color: #A28079;
        position: absolute;
        top:446px ;
        left: 86px;
        margin-top: 0px;
        text-decoration: none;
    }
    .yi{
        position: absolute;
        top:332px;
        left: 76px;
        width: 262px;
        height:1px;
    }
    .er{
        position: absolute;
        top:397px;
        left: 76px;
        width: 262px;
        height: 3px;
    }
    .jx{
        position: absolute;
        top: 410px;
        left: 76px;
        width: 12px;
        height: 12px;
    }
    .juxing{
        position: absolute;
        top: 442px;
        left: 76px;
        width: 80px;
        height: 31px;
    
    }
}